.nav ul ul {
	display: none;
}

.nav ul li:hover > ul {
	display: block;
	z-index: 9999;
	background: #4ccfc1;
	/*border: 1px solid #fff;*/
}

.nav ul ul {
	position: absolute;
	border: 1px solid #fff !important;
	z-index: 9999;
}
.nav ul ul li {
	float: none;
	position: relative;
	border: none;
	z-index: 9999;
}
.nav ul ul ul {
	position: absolute;
	top: 0;
	left: 100%;
	z-index: 9999;
}

.sub {

}


